<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>
              <a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>.
        </ul>
      </div>

      <div class="footer-col">
        <ul class="social-media-list">
          <li>
            &nbsp;
        </ul>
      </div>
    </div>

  </div>

</footer>
